# Python files
__pycache__/
*.py[cod]

# Data and Images (Do not upload these to GitHub)
data/
test-imqges/
*.jpg
*.csv

# Environment
myenv/
.venv/

*.onnx
massyl/data/lost_and_found_left_od_optimized
*.mp4
massyl/data/bdd100k_test
