# Python files
__pycache__/
*.py[cod]

# Data and Images (Do not upload these to GitHub)
data/
test-imqges/
*.jpg
*.csv

# Environment
myenv/
.venv/

# massyl
*.mp4
*.tar
*.pth
*.pt
*.onnx
embeded_obstacle_detection/data
embeded_obstacle_detection/results